---
# Example configuration file for rffmpeg
# Copy this sample to /etc/rffmpeg/rffmpeg.yml and replace the various attributes
# with the values for your environment. For more details please see the README.

rffmpeg:
    # rffmpeg state configuration - YOU SHOULD NOT ALTER THESE
    state:
        # Temporary directory to store state
        tempdir: "/run/shm/rffmpeg"

        # Filename format for state instance files
        filename: "instance_{pid}.pid"

        # Contents of the state instance file
        contents: "{host}"

    # Remote (SSH) configuration
    remote:
        # A YAML list of remote hosts to connect to
        hosts:
            - gpu1
#            - gpu2
#            - gpu3

        # The remote SSH user to connect as
        user: jellyfin

        # A YAML list of additional SSH arguments (e.g. private keys),
        # one line per space-separated argument element.
        args: 
            - ""

    # Remote command configuration
    commands:
        # A YAML list of prefixes to the ffmpeg command (e.g. sudo, nice, etc.),
        # one line per space-separated command element.
        pre:
            - ""

        # The (remote) ffmpeg and ffprobe command binary paths
        ffmpeg: "/usr/lib/jellyfin-ffmpeg/ffmpeg"
        ffprobe: "/usr/lib/jellyfin-ffprobe/ffprobe"
